/* Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343 */


/*Basic page setting*/

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto' sans-serif;
    background-color: #F2F1E8;
}


/*Basic page setting*/


/*Navigation*/

header {
    position: fixed;
    top: 0;
    margin: 0px;
    background-color: #FFFFFF;
    width: 100%;
    height: 90px;
    box-shadow: 1px 0px 5px #888888;
}

nav {
    display: flex;
}

.nav-img {
    display: flex;
    justify-content: flex-start;
    width: 5px;
    padding-top: 20px;
    padding-left: 20px;
}

.nav_item {
    display: flex;
    justify-content: center;
    width: 1655px;
}

.nav_item > a {
    color: #2B2F26;
    padding: 25px 40px 0px 40px;
    font-variant-caps: all-small-caps;
    font-size: 1.75rem;
}

#logo-blk {
    width: 55px;
    height: 55px;
}

#nL_nav {
    transform: translateX(-7px);
}

a:hover {
    color: #CD5D67;
}

a:active {
    color: #968772
}


/*Navigation*/


/*Footer*/

footer {
    background-color: #2C322A;
    padding: 20px;
    width: auto;
    height: 50px;
    display: flex;
    align-items: center;
    font-family: 'Merriweather', serif;
}

footer > p {
    color: white;
}


/*Footer*/


/*Newsletter*/

#form {
    margin-top: 175px;
    font-family: 'Merriweather', serif;
    text-align: center;
    padding: 25px;
    font-size: 1.5rem;
    width: 700px;
    height: 350px;
    background-color: white;
}

#nL_header {
    font-size: 2rem;
    font-weight: normal;
}

#input {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#nL_p {
    font-weight: bold;
}

#nL_body {
    background-image: url("images/background-2.jpg");
    background-size: cover;
}

input {
    width: 700px;
    height: 50px;
    font-size: 25px;
    border: 0px;
    border-bottom: 2px solid #968772;
    margin-bottom: 20px;
}

input:focus {
    border: 0px;
    border-bottom: 2px solid #967343;
    outline: none;
}

#nL_main {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

button {
    background-color: #968772;
    color: #F2F1E8;
    width: 120px;
    height: 60px;
    /* padding: 20px 40px 20px 40px; */
    font-size: 20px;
}

button:hover {
    color: #FFFFFF;
    background-color: #967343;
}

#bk-gd {
    background-color: #F2F1E8;
}


/*Newsletter*/


/*Main Page*/

#main_header {
    margin-top: 100px;
    font-family: 'Merriweather', serif;
    font-weight: normal;
    font-size: 3.5rem;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 0px;
}

#second_header {
    font-family: 'Merriweather', serif;
    font-weight: lighter;
    font-size: 2.2rem;
    text-align: center;
    margin: 0px 0px 20px 0px;
}

#list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    /* max-width: ; */
}

.top_row {
    display: flex;
    justify-content: space-between;
    height: 500px;
    width: 100%;
    margin: 10px;
    list-style: none;
}

.bottom_row {
    display: flex;
    justify-content: space-between;
    height: 350px;
    width: 100%;
    margin: 0px 10px 10px 10px;
    list-style: none;
}

#li-1 {
    padding: 5px;
    background-image: url("./images/product-1.jpg");
    background-size: cover;
    flex: 3;
    margin: 10px;
}

#li-2 {
    padding: 5px;
    background-image: url("./images/product-2.jpg");
    background-size: cover;
    flex: 1;
    margin: 10px;
}

#li-3 {
    padding: 5px;
    background-image: url("./images/product-3.jpg");
    background-size: cover;
    flex: 1;
    margin: 10px;
}

#li-4 {
    padding: 5px;
    background-image: url("./images/product-4.jpg");
    background-size: cover;
    flex: 1;
    margin: 10px;
}

#li-5 {
    padding: 5px;
    background-image: url("./images/product-5.jpg");
    background-size: cover;
    flex: 1;
    margin: 10px;
}

#li-6 {
    padding: 5px;
    background-image: url("./images/product-6.jpg");
    background-size: cover;
    flex: 2;
    margin: 10px;
}

#li-7 {
    padding: 5px;
    background-image: url("./images/product-7.jpg");
    background-size: cover;
    flex: 1;
    margin: 10px;
}

.main-list {
    display: flex;
    align-items: flex-end;
}

.main-list >p {
    color: #D9CFB1;
    font-size: 22px;
    box-sizing: border-box;
    background-color: #2C322A;
    padding: 15px;
    position: relative;
    left: -5px
}


/*Main Page*/


/*About*/

#birdhouse {
    float: left;
    width: 12%;
    padding: 10px;
    margin-left: 200px;
}

#about-title {
    margin-top: 100px;
    font-size: 80px;
    text-align: center;
    padding: 20px;
    font-weight: normal;
}

.main-content {
    font-size: 20px;
    line-height: 2rem;
    width: 65%;
    margin: auto;
}

.main-headings {
    width: 65%;
    margin: auto;
    font-weight: normal;
    padding: 10px;
    font-size: 30px;
}

#room-to-grow {
    background-image: url("./images/background-3.jpg");
    text-align: center;
    color: white;
    font-size: 70px;
    font-weight: normal;
    padding: 200px;
    background-size: cover;
}

#clay-img {
    width: 150px;
    height: 100px;
}

#caption-img {
    width: 200px;
    margin: 0px;
}

#caption {
    flex: 1;
    padding-left: 50px;
}

#fac-content > p {
    flex: 3;
    margin-bottom: 50px;
}

#fac-content {
    display: flex;
    width: 65%;
    margin: auto;
}

blockquote {
    width: 50%;
    margin: auto;
    font-size: 20px;
    color: grey;
    font-style: italic;
    border-left: 2px solid #968772;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 210px;
    padding: 15px;
    line-height: 2rem;
}

p > a {
    color: #968772;
}

td {
    border: 1px solid black;
    /* border-collapse: none; */
    padding: 10px;
}

.th {
    text-align: center;
}

.td-brown {
    background-color: #EEE7D9;
}

table {
    padding-bottom: 75px;
}


/*About*/